@import 'guide';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
::selection {
    background: $color-primary;
    color: $color-white;
}
.container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
// body {
//     padding: 0 2rem 2rem 2rem;
//     border-top: .5rem solid $color-primary;
// }
// Header
header.container-fluid {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 2rem;
}
.menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
           display: inline;
           margin: 0 1rem 0 0;
           a {
              color: $color-gray_300;
              @include fontSize(16px);
              font-weight: 400;
              @include transition(all 0.3s ease-in-out 0s);
              &:hover {
                 color: $color-primary;
                 text-decoration: none;
              }
           }
           &:last-child {
               background-color: $color-primary;
               padding: .8rem 1.5rem;
               border-radius: 1.5rem;
               a {
                   color: $color-white;
                   &:hover {
                       color: none;
                   }
               }
           }
        }
     }
}
// General
#presentation, #jobs-done, #profile {
    margin-bottom: 10rem;
}
// Presentation
#presentation {
    margin-top: 10rem;
    h1 {
        @extend %title-base;
    }
    p {
        @extend %text-content;
        width: 85%;
        a {
            font-weight: 500;
            color: $color_gray-200;
            position: absolute;
            &::after {
                content: '';
                display: block;
                background: rgba($color-primary, .15);
                height: .4rem;
                width: 100%;
                top: 1.2rem;
                // left: -3rem;
                position: absolute;
                z-index: -1;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}
// Jobs
#jobs-done {
    h2 {
        @extend %subtitle-base;
        @include fontSize(32px);
        margin-bottom: 3rem;
    }
    .row .job {
        &:nth-child(2), &:nth-child(4) {
            margin-top: 3rem;
        }
    }
    .job {
        margin-bottom: 3rem;
        .job-img {
            @include width(500px);
            @include height(476px);
            background-size: cover;
            border-radius: 4px;
            margin-bottom: 1rem;
        }
        .job-1 {
            background-image: url(../assets/img/mckp_site_cnn.png);
        }
        .job-2 {
            background-image: url(../assets/img/mckp_site_wiseapp.png);
        }
        .job-3 {
            background-image: url(../assets/img/mckp_site_bant.png);
        }
        .job-4 {
            background-image: url(../assets/img/mckp_site_beebox.png);
        }
        .job-link {
            @include width(500px);
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            h3 {
                @extend %subtitle-base;
                @include fontSize(24px);
            }
            a {
                @include width(40px);
                @include height(40px);
                background-color: $color-primary;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-content:center;
                align-items: center;
                &:hover {
                    text-decoration: none;
                }
                &::after {
                    content: '\f061';
                    font-family: FontAwesome;
                    color: $color-white;
                }
            }
        }
    }
}
// Profile
#profile {
    width: 96%;
    margin-left: 2%;
    background-color: rgba(#f6f4f4, 1);
    border-radius: 4px;
    .author {
        display: flex;
        justify-content:first baseline;
        align-items: center;
        margin: 2rem 0 1rem 0;
        .foto-perfil-wrap {
            @include width(108px);
            @include height(108px);
            position: relative;
            background: linear-gradient(to bottom, #FF6768, #FFC8C8);
            padding: 3px;
            border-radius: 100%;
            margin-right: 1rem;
        }
        .foto-perfil {
            width: 102px;
            height: 102px;
            border-radius: 100%;
            background-image: url('../assets/img/foto_bq_medias_6.jpg');
            background-size: cover;
        }
        h2 {
            @extend %subtitle-base;
            @include fontSize(32px);
        }
    }
    p {
        @extend %text-content;
        margin-bottom: 2rem;
    }
    .content-list {
        h3 {
            @extend %subtitle-base;
            @include fontSize(20px);
            margin-bottom: 1.5rem;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li, h4 {
                margin-bottom: 1rem;
                @include fontSize(16px);
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                color: $color-secondary;
                .job-atual {
                    background: $color-primary;
                    padding: .3rem;
                    color: $color-white;
                    @include fontSize(14px);
                    border-radius: 4px;
                }
            }
        }
    }
    .social-media {
        margin: 3rem 0 2rem 0;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin-right: 1rem;
                float: left;
                a {
                    @extend %social-link;
                }
            }
        }
    }
}
//Footer
footer {
    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10rem;
        h2 {
            @include fontSize(40px);
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: $color-secondary;
            text-transform: uppercase;
        }
        a {
            @extend %social-link;
        }
    }
    .year {
        @include fontSize(12px);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: .5rem;
        text-transform: uppercase;
        color: $color-gray_300;
        margin-bottom: 3rem;
    }
}
//Work page
.cover-job {
    width: 100%;
    @include height(500px);
    background-color: $color-gray_100;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
    position: relative;
    // &::before {
    //     position: absolute;
    //     bottom: 0;
    //     z-index: 1;
    //     background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 85%, black 110%, #000 100%);
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     width: 100%;
    //     height: 100%;
    //     content: '';
    // }
    h1 {
        @extend %title-base;
        margin-bottom: 3rem;
    }
}
//Intro Job
.intro-job {
    margin: 2rem 0 5rem 0;
    p {
        @extend %text-content;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            h4 {
                margin-bottom: 1rem;
                @include fontSize(16px);
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                color: $color-secondary;
            }
            p {
                @extend %text-content;
                margin-bottom: 2rem;
            }
        }
        li::before {
            @extend %icon-before;
            float: left;
            margin-right: 1rem;
            content: '';
            background-repeat: no-repeat;
            background-position: center center;
        }
        li:nth-child(1)::before {
            background-image: url(../assets/icons/ico_done.svg);
        }
        li:nth-child(2)::before {
            background-image: url(../assets/icons/ico_map.svg);
        }
        li:nth-child(3)::before {
            background-image: url(../assets/icons/ico_global.svg);
        }
        
    }
}
.understand-job, .result-job {
    margin-bottom: 5rem;
    h2 {
        @extend %subtitle-base;
        @include fontSize(24px);
        margin-bottom: 1.5rem;
    }
    p {
        @extend %text-content;
    }
}
// Result job
.result-job {
    .row .col-12 {
        &:nth-child(2), &:nth-child(4), &:nth-child(6) {
            margin-top: 3rem;
        }
    }
    .result-job-container {
        @include width(500px);
        @include height(476px);
        background-color: $color-gray_100;
        background-size: cover;
        border-radius: 4px;
        margin-bottom: 3rem;
    }
}