//Colors
$color-primary: rgba(255,103,104, 1);
$color-secondary: rgba(23,34,59, 1);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-gray_100: rgba(233,233,233, 1);
$color_gray-200: rgba(118,125,125, 1);
$color-gray_300: rgba(46,49,49, 1);


// Mixin Shadow
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

%sombra-1 {
    @include box-shadow(0px 21px 42px rgba($color-black, 0.05));
}

// Mixin  transições
@mixin transition($transition-1) {
    -webkit-transition: $transition-1;
    transition: $transition-1;
}
@mixin transform {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

// Converter PX para REM
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}
@mixin width ($size) {
    width: calculateRem($size);
}
@mixin height ($size) {
    height: calculateRem($size);
}
@mixin fontSize ($size) {
    font-size: calculateRem($size);
}

// Components
%text-content {
    @include fontSize(18px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: $color_gray-200;
    line-height: 180%;
}
%social-link {
    @include fontSize(16px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    color: $color_gray-200;
    @include transition(all 0.3s ease-in-out 0s);
    &:hover {
        text-decoration: none;
        color: $color-primary;
    }
    &::after {
        content: '\f061';
        font-family: FontAwesome;
        color: $color-secondary;
    }
}
%title-base {
    @include fontSize(40px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: $color-secondary;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 2px;
}
%subtitle-base {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: $color-secondary;
    text-transform: uppercase;
}
%icon-before {
    @include width(48px);
    @include height(48px);
    background-color: rgba($color-primary, 0.16);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

// %btn-structure {
//     padding: .5rem 1rem;
//     border-radius: 4rem;
//     font-family: 'Open Sans', sans-serif;
//     @include fontSize(16px);
//     font-weight: 700;
//     color: $color_white;
//     text-transform: uppercase;
//     @include transition(all 0.3s ease-in-out 0s);
//     &:hover {
//         text-decoration: none;
//         color: $color_white;
//     }
// }

// %icon-before {
//     @include width(64px);
//     @include height(64px);
//     background-color: rgba($color-primary, 0.1);
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 100%;
//     @media (max-width: 991px) {
//         @include width(48px);
//         @include height(48px);
//     }
// }